.images {
  display: flex;
  gap: 30px;
  flex-wrap: wrap;
  margin: 61px 0 60px 0;
  @media (max-width: 1023px) {
    gap: 32px;
    overflow-x: scroll;
    flex-wrap: unset;
    &::-webkit-scrollbar { 
      display: none;  
    }
  }
}

.img-active__info {
  width: 210px;
  height: 140px;
  padding: 20px;
  background-color: #fbfbfb;
  p {
    font-size: 14px;
  }
}
